* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", serif;
    scroll-behavior: smooth;
    color: #FBFAF2;
    background-color: #006100;
}

.body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #006100;
  color: #FBFAF2;
  overflow-x: hidden;
  padding-left: 80px;
  padding-top: 18%
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #FBFAF2;
  display: block;
}

.sidenav a:hover {
  color: #FBFAF2;
  transform: scale(1.04);
}

.main {
  margin-left: 350px; /* Same as the width of the sidenav */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 30px 0px 20px 0px;
}

.about_container {
  display: grid;
  align-items: center;
  grid-template-columns: 300px 1fr;
  max-width: 2000px;
  column-gap: 1px;
  text-align: start;
}

.about {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 70px 90px 200px 0;
}

.portrait_image {
  border-radius: 10%;
  border: 2px solid #FBFAF2;
}

.about_description {
  padding: 25px 50px;
  color:#FBFAF2;
  font-size: 20px;
  line-height: 1.9;
}

table, th, td {
  width: 95%;
  border: 0px solid black;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  table-layout: fixed;
}

th, td {
  padding: 55px;
}

tr {
  font-size: 17px;
}

th {
  font-size: 14px !important;
}

hr.new {
  width: 95%;
  border: solid rgb(234, 234, 229, 0.3);
  border-width: 0.5px 0 0;
  opacity: 0;
}

.resume_button {
  padding: 0px;
}






.skills {
  display: flex;
  justify-content: row;
  align-items: center;
  padding: 25px 8px 25px 0; 
}







@media (max-width: 960px) {
  body {
      padding: 25px;
      background-color: #006100;
  }

  .about {
    flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 70px;
      z-index: 1;
      width: 100%;
      max-width: 2000px;
  }
}