* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    line-height: 1;
    color: #FBFAF2;
    background-color: #006100;
}

.body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #006100;
  color: #FBFAF2;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #FBFAF2;
  display: block;
}

.sidenav a:hover {
  color: #FBFAF2;
  transform: scale(1.04);
}

.main {
  margin-left: 350px; /* Same as the width of the sidenav */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 0px 0px;
}

@media (max-width: 960px) {
  body {
      padding: 25px;
      background-color: #006100;
  }

  .about {
    padding: 50px;
  }
  
  .portrait_image {
    height: 80px;
    margin: 5px auto;
    border-radius: 25%;
    border: 3px solid #FBFAF2;
  }
  
  .about_description {
    padding: 25px 0;
  }
  
  .experiences {
    display: flex;
    justify-content: row;
    align-items: center;
    padding: 25px 0 25px 0; 
  }
  
  .skills {
    display: flex;
    justify-content: row;
    align-items: center;
    padding: 25px 0 25px 0; 
  }
}
